apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "konveyor.io/v1alpha1",
          "kind": "Move2Kube",
          "metadata": {
            "name": "move2kube-sample"
          },
          "spec": {
            "storageclass": "default",
            "storagesize": "1Gi",
            "version": "latest"
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.0.1
    operators.operatorframework.io/project_layout: helm.sdk.operatorframework.io/v1
  name: move2kube-operator.v0.1.0-alpha
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - kind: Move2Kube
        name: move2kubes.konveyor.io
        version: v1alpha1
  description: Move2Kube accelerates the process of re-platforming to Kubernetes/Openshift.
  displayName: Konveyor Move2Kube Operator
  icon:
    - base64data: ""
      mediatype: ""
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - namespaces
              verbs:
                - get
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - "*"
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
            - apiGroups:
                - konveyor.io
              resources:
                - move2kubes
                - move2kubes/status
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - networking.k8s.io
              resources:
                - ingresses
              verbs:
                - "*"
            - apiGroups:
                - ""
              resources:
                - persistentvolumeclaims
                - serviceaccounts
                - services
              verbs:
                - "*"
            - apiGroups:
                - apps
              resources:
                - deployments
                - statefulsets
              verbs:
                - "*"
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - authorization.k8s.io
              resources:
                - subjectaccessreviews
              verbs:
                - create
          serviceAccountName: default
      deployments:
        - name: move2kube-operator-controller-manager
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: controller-manager
            strategy: {}
            template:
              metadata:
                labels:
                  control-plane: controller-manager
              spec:
                containers:
                  - args:
                      - --secure-listen-address=0.0.0.0:8443
                      - --upstream=http://127.0.0.1:8080/
                      - --logtostderr=true
                      - --v=10
                    image: gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
                    name: kube-rbac-proxy
                    ports:
                      - containerPort: 8443
                        name: https
                    resources: {}
                  - args:
                      - --metrics-addr=127.0.0.1:8080
                      - --enable-leader-election
                      - --leader-election-id=move2kube-operator
                    image: move2kube-operator:latest
                    name: manager
                    resources:
                      limits:
                        cpu: 100m
                        memory: 90Mi
                      requests:
                        cpu: 100m
                        memory: 60Mi
                terminationGracePeriodSeconds: 10
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: default
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - ibm-research
    - replatform
    - kubernetes
    - openshift
    - modernization
  links:
    - name: Move2kube Operator
      url: https://move2kube-operator.domain
  maintainers:
    - email: konveyorio@googlegroups.com
      name: "Move2Kube authors"
  maturity: alpha
  provider:
    name: Konveyor
    url: https://konveyor.io/move2kube/
  version: 0.1.0-alpha
