name: PR Build

on:
  pull_request:
    branches:
      - "main"
      - "release-*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make container-build
